# --- Core Backend ---
fastapi
uvicorn
gunicorn
python-multipart
# --- Seguridad y autenticación ---
python-jose
python-decouple
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
cryptography
# --- ORM y base de datos ---
sqlalchemy
psycopg2-binary
# --- IA / Detección Facial ---
torch
torchvision
onnx
onnxsim
onnxruntime
opencv-python
numpy
pandas
scikit-learn
scikit-image
tensorboardX
tqdm
ultralytics
# --- PDF ---
PyMuPDF
